# Ignore the any .env file except sample.env
*.env
!sample.env

# Ignore Echlipse LSP (JDTLS) specific files
.settings
.project
.classpath

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
bin
